.form-container {
    width: 80%;
    height: auto;
    margin: 20px auto;
    margin-top: 50px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    padding: 20px;
}

h1 {
    border-bottom: 2px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}