.container {
    border: 2px solid #dddddd;
    padding: 30px;
    margin: 10px auto;
    margin-top: 30px;
    background-color: #ffffff;
}

h1 {
    border-bottom: 2px solid #dddddd;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: ;
}

img {
    align-items: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
}

h5 {
    background-color: #4aaaa5;
    text-align: center;
    margin-top: 50px;
}

