body {
    background-image: url("/Users/jborgen/jrb-portfolio/assets/images copy/ripples.jpg") ;
}

.jakes-navbar {
    background-color: #ffffff;
}

.jakes-footer {
    background-color: #666666;
    height: 60px;
    border-top: 4px solid #4aaaa5;
}

